<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="ApiKey" value="790b6cb8-4db3-44e0-bdf3-6e5c783f850f"/>
    <add key="PrivateKey" value="BARoopTCi6dBxo/0hFKxcnULQ1Ye221XJgyiCNhYd6uJ6NdLPucKfPT3LKu0yjYva5ehYp6HSTobUiea7wDf2Q=="/>
    <add key="BaseUrl" value="https://api.btcm.ngin.io"/>
    <add key="ApiPort" value="443" />
  </appSettings>
</configuration>