<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="ApiKey" value="500f9b73-3b07-44c8-ad58-3cec3de70d63"/>
    <add key="PrivateKey" value="BARoopTCi6dBxo/0hFKxcnULQ1Ye221XJgyiCNhYd6uJ6NdLPucKfPT3LKu0yjYva5ehYp6HSTobUiea7wDf2Q=="/>
    <add key="BaseUrl" value="https://api.btcm.ngin.io"/>
    <add key="ApiPort" value="443" />
  </appSettings>
</configuration>